/* 
  Styles have been modularized:
  - Global variables -> src/app/app.css
  - Components -> src/components/*.css
  - Pages -> src/app/(explorer)/*.css
  - Global Components -> src/components/{Button,Form,Modal}.css
*/